<%= form_with(model: @user, local: true, html: { class: 'mt-4' }) do |f| %>

  <div class="mb-3 ">
    <div class="col-sm-2">
      <%= f.label :username, class: 'form-label' %><br/>
      <%= f.text_field :username, class: 'form-control mb-2' %>
    </div>

    <div class="col-sm-2">
      <%= f.label :email, class: 'form-label' %><br/>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="col-sm-2">
    <%= f.label :password, class: 'form-label' %><br/>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="mb-3 mt-3">
    <%= f.submit(@user.new_record? ? "Sign up" : "Update Acc", class: 'btn btn-primary') %>
  </div>

<% end %>